.container-saldo{
  height: 100px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-extrato{
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
}

.discricao-saldo{
  font-size: 14px;
    color: #676D79;
    font-weight: 500;

}
.container-saldo-total{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.saldo-total{
  font-size: 34px;
  font-weight: 500;
}

.btn-visibility {
  color: #39334B;
  border: none;
  background: none;

}
.mat-icon{
  width: 60px;
  height: 30px;
}
.material-icons{
  font-size: 24px;
}
