.container{
  height: 100px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discricao-saldo{
  font-size: 34px;
    color: #676D79;
    font-weight: 500;

}
.container-saldo-total{
  display: flex;
  align-items: center;
}

.saldo-total{
  font-size: 71px;
  font-weight: 500;
}

.btn-visibility {
  color: #39334B;
  border: none;
  background: none;
  margin-left: 67px;
}
.mat-icon{
  width: 60px;
  height: 60px;
}
.material-icons{
  font-size: 50px;
}
