<div class="container-contato-transferir">
  <button class="btn-close" (click)=close()>
    <mat-icon fontIcon="close"></mat-icon>
  </button>
  <h2>Para quem você quer transferir?</h2>
  <div class="content-contato">
    <p>Busque um contato </p>
  </div>
  <div class="content-input">
    <div>
      <input  pattern="[0-9]+([,\.][0-9]+)?"  mask="000.000.000-00 || 0000" class="input-saldo" type="text" format="number" placeholder=" CPF, Nº Conta" [(ngModel)]="contato" >
      <hr>
    </div>
    <button class="btn-enviar" type="button" [disabled]="!contato" (click)=valorTransferencia()> Continuar </button>
</div>
