<div class="container-cartao">
  <p class="tipo-cartao">Cartão de Crédito</p>
  <div class="card-cartao hover-div" (mouseover)="changeDiv()" (mouseleave)="resetDiv()">
    <div *ngIf="isHovered" class="faixa-cartao"></div>
    <div style="padding: 40px 30px 20px;">
      <h4 class="bank" >BANK</h4>
      <div class="infos-cliente">
        <h2 class="numero-cartao">**** **** **** 2586</h2>
        <div class="info-inferiores">
          <p class="data-valid">09/28</p>
          <div class="contente-cvv">
            <img class="icon-master" src="../../../assets/master.svg" alt="icon master">
            <h1 *ngIf="isHovered">452</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
