<div class="container-extrato">
  <h1>Extrato</h1>
  <div class="box-info-extrato">
    <div class="container-btn-extrato">
      <button class="btn periodo">
        Período
      </button>
      <button class="btn tipo">
        Tipo
      </button>
      <button class="btn mais-filtros">
        Mais filtros
      </button>
    </div>

      <div class="box-tipo-extrato" *ngFor="let itens of serverService.extrato">
        <div class="container-img">
          <img class="img-extrato" src="../../../assets/transfer-azul.svg" alt="icon de transferencia">
        </div>
        <div>
          <p class="tipo-extrato">{{itens.tipo_movimentacao}}</p>
          <p class="nome-extrato">{{itens.tipo_movimentacao=="entrada" ? itens.cliente_origem : itens.cliente_destino}}</p>
        </div>
        <div class="box-data-valor">
          <p class="data-extrato">{{itens.data_transacao | date: 'dd MMMM'}}</p>
          <p class="valor-extrato">{{itens.valor | currency: 'BRL':'symbol':'1.2-2'}}</p>
        </div>
      </div>
  </div>
</div>
