<div class="container-extrato">
  <h1>Extrato</h1>
  <div class="box-info-extrato">
    <div class="container-btn-extrato">
      <button class="btn periodo">
        Período
      </button>
      <button class="btn tipo">
        Tipo
      </button>
      <button class="btn mais-filtros">
        Mais filtros
      </button>
    </div>

      <div class="box-tipo-extrato">
        <div class="container-img">
          <img class="img-extrato" src="../../../assets/transferir.svg" alt="icon de transferencia">
        </div>
        <div>
          <p class="tipo-extrato">Transferência enviada</p>
          <p class="nome-extrato">Diego Abner</p>
        </div>
        <div class="box-data-valor">
          <p class="data-extrato">15 Mai.</p>
          <p class="valor-extrato">R$40,50</p>
        </div>
      </div>

      <div class="box-tipo-extrato">
        <div class="container-img">
          <img class="img-extrato" src="../../../assets/transferir.svg" alt="icon de transferencia">
        </div>
        <div>
          <p class="tipo-extrato">Transferência enviada</p>
          <p class="nome-extrato">Diego Abner</p>
        </div>
        <div class="box-data-valor">
          <p class="data-extrato">15 Mai.</p>
          <p class="valor-extrato">R$40,50</p>
        </div>
      </div>

      <div class="box-tipo-extrato">
        <div class="container-img">
          <img class="img-extrato" src="../../../assets/transferir.svg" alt="icon de transferencia">
        </div>
        <div>
          <p class="tipo-extrato">Transferência enviada</p>
          <p class="nome-extrato">Diego Abner</p>
        </div>
        <div class="box-data-valor">
          <p class="data-extrato">15 Mai.</p>
          <p class="valor-extrato">R$40,50</p>
        </div>
      </div>

      <div class="box-tipo-extrato">
        <div class="container-img">
          <img class="img-extrato" src="../../../assets/transferir.svg" alt="icon de transferencia">
        </div>
        <div>
          <p class="tipo-extrato">Transferência enviada</p>
          <p class="nome-extrato">Diego Abner</p>
        </div>
        <div class="box-data-valor">
          <p class="data-extrato">15 Mai.</p>
          <p class="valor-extrato">R$40,50</p>
        </div>
      </div>

      <div class="box-tipo-extrato">
        <div class="container-img">
          <img class="img-extrato" src="../../../assets/transferir.svg" alt="icon de transferencia">
        </div>
        <div>
          <p class="tipo-extrato">Transferência enviada</p>
          <p class="nome-extrato">Diego Abner</p>
        </div>
        <div class="box-data-valor">
          <p class="data-extrato">15 Mai.</p>
          <p class="valor-extrato">R$40,50</p>
        </div>
      </div>

      <div class="box-tipo-extrato">
        <div class="container-img">
          <img class="img-extrato" src="../../../assets/transferir.svg" alt="icon de transferencia">
        </div>
        <div>
          <p class="tipo-extrato">Transferência enviada</p>
          <p class="nome-extrato">Diego Abner</p>
        </div>
        <div class="box-data-valor">
          <p class="data-extrato">15 Mai.</p>
          <p class="valor-extrato">R$40,50</p>
        </div>
      </div>

      <div class="box-tipo-extrato">
        <div class="container-img">
          <img class="img-extrato" src="../../../assets/transferir.svg" alt="icon de transferencia">
        </div>
        <div>
          <p class="tipo-extrato">Transferência enviada</p>
          <p class="nome-extrato">Diego Abner</p>
        </div>
        <div class="box-data-valor">
          <p class="data-extrato">15 Mai.</p>
          <p class="valor-extrato">R$40,50</p>
        </div>
      </div>

  </div>
</div>
