.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.container-info-input{
  display: flex;
  align-items: center;
}
.nome {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding-right: 50px;
}

.input-busca {
  height: 20px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  border: none;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.busca {
  border: none;
  height: 20px;
  width: 500px;
  font-size: 20px;
}

.btn-busca {
  background: none;
  border: none;
  font-size: 37px;
}

.info-perfil {
  display: flex;
}

.container-perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.info-agencia {
  display: flex;
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
}

.usuario {
  font-size: 19px;
  color: #fff;
  font-weight: initial;
}

.agencia {
  font-weight: normal;
}

.conta {
  font-weight: normal;
}

.foto-perfil {
  width: 60px;
  height: 60px;
  border-radius: 62px;
  border: none;
  background-color: #D9D9D9;
  margin-left: 15px;
}

.box-info-conta {
  display: flex;
  justify-content: space-evenly;
}

.container-btn {
  display: flex;
  flex-direction: column;
}

.btn-home {
  border-radius: 20px;
  background-color: #fff;
  border: none;
  width: 60px;
  height: 60px;
}

.btn-home img {
  width: 35px;
  height: 35px;
}

.btn-pagar {
  background: none;
  border: none;
  width: 60px;
  height: 60px;
  margin: 30px 0;
}

.btn-pagar img {
  width: 35px;
  height: 35px;
}

.btn-mais {
  background: none;
  border: none;
  width: 60px;
  height: 60px;
}

.btn-mais img {
  width: 35px;
  height: 35px;
}

.container-infos {
  background: rgba(255, 255, 255, 0.96);
  width: 90vw;
  height: 85vh;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
}


.saldo {
  height: 300px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linha-vertical {
  width: 5px;
  height: 588px;
  background: rgba(63, 63, 64, 0.09);
  border-radius: 10px;
  margin-top: 25px;
}

@media (max-width:  1179px) {
  .linha-vertical{
    height: 511px;
  }
}

@media (max-width: 710px) {
  .container-info-input{
    display: none;
  }

  .info-perfil{
    flex-direction: row-reverse;
  }

  .container-perfil{
    align-items: flex-start;
  }

  .container-btn{
    display: none;
  }

  .container-infos{
    width: 100%;
    height: 90vh;
    border-radius: 40px 40px 0 0;
  }

  .linha-vertical{
    display: none;
  }


}
