<div class="container-home">
  <div class="info">
    <div class="container-info-input">
      <h1 class="nome">BANK</h1>
      <div class="input-busca">
        <input matInput class="busca" type="search" placeholder="Busca">
        <button class="btn-busca" type="button">
          <mat-icon aria-hidden="false" aria-label="Exemplo de ícone inicial" fontIcon="search"> </mat-icon>
        </button>
      </div>
    </div>
    <div class="info-perfil">
      <div class="container-perfil">
        <h3 class="usuario">Olá {{dadosConta?.titular?.nome_completo}}</h3>
        <div class="info-agencia">
          <p>Ag.</p>
          <p class="agencia">000{{dadosConta?.agencia}}</p>
          <p>Conta</p>
          <p class="conta">{{dadosConta?.conta}}-1</p>
        </div>
      </div>
      <img class="foto-perfil" src="../../assets/person.svg" alt="">
    </div>
  </div>
  <div class="box-info-conta">
    <div class="container-btn">
      <button class="btn-home">
        <img src="../../assets/home.svg" alt="">
      </button>
      <button class="btn-transfer" (click)=transferir()>
        <img src="../../assets/transfer-branco.svg" alt="">
      </button>
      <button class="btn-pagar">
        <img src="../../assets/pagar.svg" alt="">
      </button>
      <button class="btn-mais">
        <img src="../../assets/mais.svg" alt="">
      </button>
    </div>

    <div class="container-infos">
      <div class="saldo">
        <div>
          <app-saldo></app-saldo>
          <div class="carrossel">
            <app-carousel></app-carousel>
          </div>
        </div>
        <div class="cartão">
          <app-cartao></app-cartao>
        </div>
      </div>

      <div class="linha-vertical">
      </div>

      <div class="extrato">
        <app-extrato></app-extrato>
      </div>
    </div>
  </div>
</div>
